{% extends '@Drop/base.html.twig' %}
{% block over_styles %}
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/product-page/product-page.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/product-page/modal-image.css') }}"/>
    <script src="{{ asset('assets/js/change-images.js') }}" defer></script>
    <script src="{{ asset('assets/js/product-page/modal-image.js') }}" defer></script>
{% endblock over_styles %}
{% block main_content %}
    <div id="product-page" class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12 name">
                        <p>{{ product.name }}</p>
                    </div>
                </div>
                <div class=row">
                    <div class="col-md-2 little-page">
                        <ul>
                            {% set i = 0 %}
                            {% for image in product.images %}
                            <li>
                                <div class="product-img" onmouseover="changeImage('min-img{{ i }}');">
                                    <img src="{{ asset('product_images/' ~ product.images[i]) }}" id="min-img{{ i }}" alt=""/>
                                </div>
                            </li>
                                {% set i = ( i | default(1) ) + 1 %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-10 main-image">
                        <img src="{{ asset('product_images/' ~ product.images['0']) }}" id="main-img" alt=""/>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal" class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" id="img01">
                        <div id="caption"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 parameters">
                <div class="row">
                    <div class="col-md-6 price">
                        <span>{{ product.cost }}</span>
                        <span>грн</span>
                    </div>
                    <div class="col-md-6">
                        <a href="{{ path('user_action.new_order', {'id': product.id}) }}" class="btn btn-success btn-lg">Заказать</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-id">Номер товара: {{ product.id }}</div>
                </div>
                <div class="row description">
                    <p>Описание :</p>
                    <p>
                        {{ product.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}

