{% extends '@Drop/base.html.twig' %}
{% block over_styles %}
    <link href="{{ asset('assets/css/reg.css') }}" rel="stylesheet" />
{% endblock over_styles %}
{% block main_content %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 reg">
            <p>Регистрация нового продавца</p>
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.phone) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}
            <button type="submit" class="btn btn-primary" formnovalidate>Регистрация</button>
            {{ form_end(form) }}
        </div>
        <div class="col-md-4"></div>
    </div>
    <script>
    </script>
{% endblock main_content %}