{% extends '@Drop/Default/index.html.twig' %}
{% block over_styles %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link href="{{ asset('assets/css/orders.css') }}" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="{{ asset('assets/js/orders/new-post-address.js') }}"></script>
    <script src="{{ asset('assets/js/orders/new-orders-page.js') }}" defer></script>
{% endblock over_styles %}
{% block main_content %}
    <style>
        .in-order {
            background: red !important;
        }
    </style>
    <div class="wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="products-table">
                    <h3 class="headers">Список товаров</h3>
                    <p class="text-right">
                        <input type="text" class="right" id="myInput" onkeyup="myFunction()" placeholder="Поиск по имени..">
                    </p>
                    <table class="table table-striped fixed_headers" id="myTable">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Название</th>
                            <th scope="col">Цена</th>
                            <th scope="col">Возврат</th>
                            <th scope="col">Количество</th>
                            <th scope="col">Цена продажи</th>
                            <th scope="col"> </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr {% if product.id == id %} class="in-order" {% endif %}>
                                <td class="product-id">{{ product.id }}</td>
                                <td class="product-name">{{ product.name }}</td>
                                <td class="product-cost">{{ product.cost }}</td>
                                <td class="product-back">Согласно тарифам Новой почты</td>
                                <td class="product-count"><input type="text" placeholder="Количество" /></td>
                                <td class="my-cost"><input type="text" placeholder="Цена продажи"/></td>
                                <td><button class="btn btn-success to-order">Заказать</button></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="orders-table">
                    <h3 class="headers">Перечень позиций в заказе</h3>
                    <table class="table table-striped fixed_headers" id="myOrder">
                        <thead>
                        <tr>
                            <th scope="col">Код товара</th>
                            <th scope="col">Название</th>
                            <th scope="col">Цена продажи</th>
                            <th scope="col">Цена покупки</th>
                            <th scope="col">Количество</th>
                            <th scope="col">Всего</th>
                            <th scope="col"> </th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="client-delivery">
            <h3>Клиент и доставка</h3>
            <div class="row">
                <div class="col-md-4">
                    {{ form_start(form) }}
                    {{ form_row(form.last_name) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.patronymic) }}
                    {{ form_row(form.phone) }}
                    {{ form_row(form.city) }}
                    {{ form_row(form.warehouse) }}
                    {{ form_row(form.full_address) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.comment) }}
                    {{ form_row(form.save) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock main_content %}


