{% extends '@Drop/Default/index.html.twig' %}
{% block over_styles %}
    {#<script src="https://code.jquery.com/jquery-1.12.4.js"></script>#}
    <link href="{{ asset('css/orders.css') }}" rel="stylesheet" />
{% endblock over_styles %}
{% block main_content %}
    <div class="wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="order-status">
                    <ul>
                        <li id="all">
                            <button type="button" class="btn btn-default btn-xs">Все <span class="badge">{{ status_count.new }}</span></button>
                        </li>
                        <li id="new">
                            <button type="button" class="btn btn-info btn-xs">Новый <span class="badge">{{ status_count.new }}</span></button>
                        </li>
                        <li id="in-progress">
                            <button type="button" class="btn btn-info btn-xs">В обработке <span class="badge">{{ status_count.in_processing }}</span></button>
                        </li>
                        {#<li id="not-call">#}
                            {#<button type="button" class="btn btn-xs">Недозвон <span class="badge">170</span></button>#}
                        {#</li>#}
                        <li id="accepted">
                            <button type="button" class="btn btn-success btn-xs">Подтвержденный <span class="badge">{{ status_count.confirmed }}</span></button>
                        </li>
                        <li id="rejected">
                            <button type="button" class="btn btn-danger btn-xs">Отклоненный <span class="badge">{{ status_count.rejected }}</span></button>
                        </li>
                        <li id="shipped">
                            <button type="button" class="btn btn-success btn-xs">Отправленный <span class="badge">{{ status_count.shipped }}</span></button>
                        </li>
                        <li id="non-payment">
                            <button type="button" class="btn btn-danger btn-xs">Невыкуп <span class="badge">{{ status_count.non_purchase }}</span></button>
                        </li>
                        <li id="buyout">
                            <button type="button" class="btn btn-success btn-xs">Выкуп <span class="badge">{{ status_count.ransom }}</span></button>
                        </li>
                        <li id="not-send-process">
                            <button type="button" class="btn btn-warning btn-xs">Не отправлен на обработку <span class="badge">{{ status_count.not_sent_fo_processing }}</span></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('new-orders') }}" class="btn btn-success"><i class="fas fa-folder-plus"></i>  Добавить заказ</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="all-orders-table">
                    <table class="table table-striped fixed_headers">
                        <thead>
                        <tr>
                            <th scope="col">№ Заказа</th>
                            <th scope="col">Дата создания</th>
                            <th scope="col">Товар</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Сумма продажи</th>
                            <th scope="col">Сумма покупки</th>
                            <th scope="col">Доход</th>
                            <th scope="col">Телефон клиента</th>
                            <th scope="col">Имя клиента</th>
                            <th scope="col">ТТН</th>
                            <th scope="col">Адрес доставки</th>
                            <th scope="col">Комментарий</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            <tr>
                                <th scope="row">{{ order.id }}</th>
                                <td>{{ order.created|date }}</td>
                                <td>
                                    {% for products in order.products %}
                                        {{ products.name[0] }}</br>
                                    {% endfor %}
                                </td>
                                <td>{{ order.status }}</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>{{ order.clientPhone }}</td>
                                <td>{{ order.clientName }}</td>
                                <td>@mdo</td>
                                <td>{{ order.deliveryAddress }}</td>
                                <td>{{ order.comment }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}
