{% extends '@Drop/base.html.twig' %}
{% block over_styles %}
    {#<script src="https://code.jquery.com/jquery-1.12.4.js"></script>#}
    <link href="{{ asset('css/orders.css') }}" rel="stylesheet" />
{% endblock over_styles %}
{% block main_content %}
    {% include '@Drop/Parts/navigation.html.twig' %}
    <div class="row">
        <div class="col-md-10 order-status">
            <ul>
                <li id="all">
                    Все(777)
                </li>
                <li id="new">
                    Новый()
                </li>
                <li id="in-progress">
                    В обработке(170)
                </li>
                <li id="not-call">
                    Недозвон
                </li>
                <li id="accepted">
                    Подтвержденный(500)
                </li>
                <li id="rejected">
                    Отклоненный
                </li>
                <li id="shipped">
                    Отправленный
                </li>
                <li id="non-payment">
                    Невыкуп
                </li>
                <li id="buyout">
                    Выкуп(100)
                </li>
                <li id="not-send-process">
                    Не отправлен на обработку
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <a href="{{ path('new-orders') }}" class="btn btn-success"><i class="fas fa-arrow-alt-circle-right">Добавить заказ</i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">№ Заказа</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col">Товар</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Сумма продажи</th>
                    <th scope="col">Сумма покупки</th>
                    <th scope="col">Доход</th>
                    <th scope="col">Телефон клиента</th>
                    <th scope="col">Имя клиента</th>
                    <th scope="col">ТТН</th>
                    <th scope="col">Адрес доставки</th>
                    <th scope="col">Комментарий</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                <tr>
                    <th scope="row">{{ order.id }}</th>
                    <td>{{ order.created|date }}</td>
                    <td>
                        {% for products in order.products %}
                        {{ products.name[0] }}</br>
                        {% endfor %}
                    </td>
                    <td>{{ order.status }}</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>{{ order.clientPhone }}</td>
                    <td>{{ order.clientName }}</td>
                    <td>@mdo</td>
                    <td>{{ order.deliveryAddress }}</td>
                    <td>{{ order.comment }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock main_content %}


