{% extends '@Drop/base.html.twig' %}

{% block main_content %}
    {% include '@Drop/Parts/navigation.html.twig' %}
    <!-- SECTION NEW PRODUCTS-->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">Доступные товары</h3>
                        <div class="section-nav">
                            <ul class="section-tab-nav tab-nav havigation">
                                {% if current_link_name == 'all' %}
                                    <li class="active"><a href="{{ path('products') }}">Все категории</a></li>
                                {% else %}
                                    <li><a href="{{ path('products') }}">Все категории</a></li>
                                {% endif %}

                                {% for category in categories %}
                                    {% if category.name == current_link_name %}
                                        <li class="active"><a href="{{ path('products-category', { 'category': category.id }) }}">{{ category.name }}</a></li>
                                    {% else %}
                                        <li class="btn"><a href="{{ path('products-category', { 'category': category.id }) }}">{{ category.name }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /section title -->

                <div class="col-md-12">
                    <div class="row">
                        {% for product in products %}
                        <div class="col-md-3">
                            <!-- product -->
                            <div class="product">
                                <div class="product-img">
                                    <img src="{{ asset('build/images/products/' ~ product.images['0']) }}" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">{{ product.category.name }}</p>
                                    <h3 class="product-name"><a href="{{ path('product', {'id': product.id}) }}">{{ product.name }}</a></h3>
                                    <h4 class="product-price">{{ product.cost }} Грн</h4>
                                    <a href="{{ path('new-orders', {'id': product.id}) }}" class="btn btn-success">Заказать</a>
                                </div>
                            </div>
                            <!-- /product -->
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION NEW PRODUCTS-->
{% endblock main_content %}