{% extends '@Drop/base.html.twig' %}
{% block over_styles %}
    <link type="text/css" rel="stylesheet" href="{{ asset('build/css/product-page.css') }}"/>
    <script src="{{ asset('js/change-images.js') }}" defer></script>
{% endblock over_styles %}
{% block main_content %}
    <div id="product-page" class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12 name">
                        <p>{{ product.name }}</p>
                    </div>
                </div>
                <div class=row">
                    <div class="col-md-2 little-page">
                        <ul>
                            <li>
                                <div class="product-img" onmouseover="changeImage('min-img1');">
                                    <img src="{{ asset('imgages/product01.png') }}" id="min-img1" alt=""/>
                                </div>
                            </li>
                            <li>
                                <div class="product-img" onmouseover="changeImage('min-img2');">
                                    <img src="{{ asset('imgages/product03.png') }}" id="min-img2" alt=""/>
                                </div>
                            </li>
                            <li>
                                <div class="product-img" onmouseover="changeImage('min-img3');">
                                    <img src="{{ asset('imgages/product04.png') }}" id="min-img3" alt=""/>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-10 main-image">
                        <img src="{{ asset('imgages/product01.png') }}" id="main-img" alt=""/>
                    </div>
                </div>
            </div>
            <div class="col-md-4 parameters">
                <div class="row">
                    <div class="col-md-6 price">
                        <span>{{ product.cost }}</span>
                        <span>грн</span>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-success btn-lg">Заказать</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <i class="fas fa-check"><span class="in-stock">В наличии</span></i>
                    </div>
                </div>
                <div class="row description">
                    <p>Описание :</p>
                    <p>Особенности Соединение с телефоном по Bluetooth
                        Встроенная память 8 ГБ в комплекте
                        Детектирование камер и радаров полиции по GPS-базе с регулярным автоматическим обновлением
                        Голосовое сопровождение На русском языке
                        Поворотный кронштейн
                        Батарея регистратора 30 минут
                        Bluetooth Bluetooth Smart
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}

