{% extends '@Drop/base.html.twig' %}
{% block over_styles %}
    <link type="text/css" rel="stylesheet" href="{{ asset('build/css/product-page.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ asset('build/css/product-page/modal-image.css') }}"/>
    <script src="{{ asset('js/change-images.js') }}" defer></script>
    <script src="{{ asset('js/product-page/modal-image.js') }}" defer></script>

{% endblock over_styles %}
{% block main_content %}
    <div id="product-page" class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12 name">
                        <p>{{ product.name }}</p>
                    </div>
                </div>
                <div class=row">
                    <div class="col-md-2 little-page">
                        <ul>
                            {% set i = 0 %}
                            {% for image in product.images %}

                            <li>
                                <div class="product-img" onmouseover="changeImage('min-img{{ i }}');">
                                    <img src="{{ asset('build/images/products/' ~ product.images[i]) }}" id="min-img{{ i }}" alt=""/>
                                </div>
                            </li>
                                {% set i = ( i | default(1) ) + 1 %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-10 main-image">
                        <img src="{{ asset('build/images/products/' ~ product.images['0']) }}" id="main-img" alt=""/>
                    </div>
                    {#<img id="myImg" src="{{ asset('imgages/product07.png') }}" alt="Snow" style="width:100%;max-width:300px">#}
                    <!-- The Modal -->
                    <div id="myModal" class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" id="img01">
                        <div id="caption"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 parameters">
                <div class="row">
                    <div class="col-md-6 price">
                        <span>{{ product.cost }}</span>
                        <span>грн</span>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-success btn-lg">Заказать</button>
                    </div>
                </div>
                <div class="row description">
                    <p>Описание :</p>
                    <p>Особенности Соединение с телефоном по Bluetooth
                        Встроенная память 8 ГБ в комплекте
                        Детектирование камер и радаров полиции по GPS-базе с регулярным автоматическим обновлением
                        Голосовое сопровождение На русском языке
                        Поворотный кронштейн
                        Батарея регистратора 30 минут
                        Bluetooth Bluetooth Smart
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}

