{% extends '@Drop/base.html.twig' %}
{% block over_styles %}
    <link href="{{ asset('css/user-page.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock over_styles %}
{% block main_content %}
    {% include '@Drop/Parts/navigation.html.twig' %}
    <style>




    </style>
    <div class="wrapper">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 user-info">
                <h2>Личные данные продавца</h2>
                <div class="row">
                    <div class="col-75">
                        <div class="container">
                            <form name="change_user_inf" method="post" action="{{ path('user_page') }}">
                                <div class="row">
                                    <div class="col-50">
                                        <h3 class="cont-header">Контактные данные</h3>
                                        <label for="fname"><i class="fa fa-user"></i> Фамилия Имя Отчество</label>
                                        <input type="text" id="fname" name="name" placeholder="{{ user.name }}">
                                        <label for="email"><i class="fa fa-envelope"></i> Email</label>
                                        <input type="text" id="email" name="email" placeholder="{{ user.email }}">
                                        <label for="adr"><i class="fas fa-unlock-alt"></i> Пароль</label>
                                        <input type="text" id="adr" name="password" placeholder="{{ user.password }}">
                                        <label for="city"><i class="fas fa-phone-square"></i> Телефон</label>
                                        <input type="text" id="city" name="phone" placeholder="{{ user.phone }}">
                                        <label for="city"><i class="fas fa-phone-square"></i> Ref-ссылка</label>
                                        <input type="text" id="city" name="ref" placeholder="ref///=ref12254555">

                                    </div>
                                    <div class="col-50">
                                        <h3 class="cont-header" >Платежные данные</h3>
                                        <label for="fname">Принимаемые карты</label>
                                        <div class="icon-container">
                                            <i class="fa fa-cc-visa" style="color:navy;"></i>
                                            <i class="fa fa-cc-amex" style="color:blue;"></i>
                                            <i class="fa fa-cc-mastercard" style="color:red;"></i>
                                            <i class="fa fa-cc-discover" style="color:orange;"></i>
                                        </div>
                                        <label for="cname">Имя владельца</label>
                                        <input type="text" id="cname" name="cardname" placeholder="{{ user.cardsOwnerName }}">
                                        <label for="ccnum">Номер карты</label>
                                        <input type="text" id="ccnum" name="cardnumber" placeholder="{{ user.cardsNumber }}">
                                    </div>
                                </div>
                                <input type="submit" name="send_data" value="Сохранить" class="btn">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock main_content %}
