{% extends '@Drop/base.html.twig' %}
{% block main_content %}
    <!-- SECTION NEW PRODUCTS-->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <!-- section categories -->
                    <div class="col-md-12">
                        <div class="section-title">
                            <h3 class="title">Доступные товары</h3>
                            <div class="section-nav">
                                {{ knp_menu_render('DropBundle:Builder:categoryMenu', { 'currentClass': 'active'}) }}

                            </div>
                        </div>
                    </div>
                    <!-- /section categories -->
                {% endif %}
                <div class="col-md-12">
                    <div class="row">
                        {% for product in products %}
                            <div class="col-md-3">
                                <!-- product -->
                                <div class="product">
                                    <div class="product-img">
                                        <img src="{{ asset('product-images/' ~ product.images[0]) }}" alt="">
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">{{ product.category.name }}</p>
                                        <a href="{{ path('user_view.one_product', {'id': product.id}) }}">
                                            <h3 class="product-name">{{ product.name }}</h3>
                                        </a>
                                        <h4 class="product-price">{{ product.cost }} Грн</h4>
                                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                            <a href="{{ path('user_action.new_order', {'id': product.id}) }}" class="btn btn-success">Заказать</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- /product -->
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    {{ knp_pagination_render(products) }}
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION NEW PRODUCTS-->
{% endblock main_content %}