{% extends '@Drop/base.html.twig' %}
{% block search_bar %}
    <h1 id = "admin-title">Админка</h1>
{% endblock search_bar %}
{% block over_styles %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
{% endblock over_styles %}

{% block main_content %}

    <style>
        .description textarea {
            height: 150px;
        }
        label {
            font-size: 120%;
        }
        .product-form .col-md-8 {
            border: 3px solid #0000006b;
            background: #5bdebd9e;
        }
    </style>
<div class="row product-form">
    <div class="col-md-2"></div>
    <div class = "col-md-8">
        <h3>Форма добавления нового товара</h3>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.purveyor) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.category) }}
            </div>
        </div>
        {{ form_row(form.images) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.name) }}
            </div>
            <div class="col-md-6 description">
                {{ form_row(form.description) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.cost) }}
                <hr/>
            </div>
            <div class="col-md-6 description">
                {{ form_row(form.recommendedCost) }}
                <hr/>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <div class="col-md-2">
        <button class="btn btn-danger update-new-post"> Обновить db Новой Почты</button>
    </div>
</div>
<script>
    $(".update-new-post").click(function () {
        $(this).prepend('<i class="fa fa-spinner fa-spin"></i> ');
        $.ajax ({
            url: "http://localhost:8000/patron",//{{ path('ajax-new-post') }}", !!! The PROBLEM NOT SOLVED
            //in page Twig it is work with "{{ path('ajax-new-post') }}", but from here it's not work !
            type: "POST",
            dataType: 'text',
            data: {"update-data-address" : "Alxy"},
            success: function (data) {
                alert(data);
                $(".update-new-post").empty();
                $(".update-new-post").append('База данных обновлена');
            }
        });
    });
</script>
{% endblock main_content %}
{% block specially_script %}

{% endblock specially_script %}